@charset "UTF-8";
@import "grid/grid12";
body {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

div.menu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

div.menu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.menu a:hover {
    background-color: #777;
}

.model {
    width: 49%;
    text-align: center;
    float: left;
}

.model img {
    max-width: 600px;
}

.logo {
    height: 100px;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 60px;
}

.logo2 {
    height: 30px;
    width: 30px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: -7px;
    margin-left: 5px;
}

.info {
    display: inline-block;
    width: 50%;
    padding-left: 0px;
}

.info h5 {
    background: red;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    padding: 5px 8px;
    font-weight: 700;
    color: white;
}

.info h1 {
    font-size: 39px;
    font-weight: 700;
    color: black;
    line-height: 1.3;
    margin: 24px 0;
}

.info p {
    font-weight: 100;
    line-height: 1.5;
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    color: red;
}

.p {
    font-size: 12px;
    border-radius: 60px;
    display: inline-block;
    border: 1px solid red;
    height: 30px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-bottom: 10px;
    color: white;
    background-color: red;
    font-weight: bold;
}

.sizes {
    padding-left: 0px;
}

.sizes a {
    text-decoration: none
}

.sizes a li {
    font-size: 12px;
    border-radius: 60px;
    display: inline-block;
    border: 1px solid red;
    height: 10px;
    width: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.sizes a li:hover {
    background-color: red;
    color: white;
}

.circle {
    height: 30px;
    width: 30px;
    padding: 10px 0;
}

.oval {
    height: 30px;
    padding: 10px 20px;
}

.red-hollow-btn {
    display: inline-block;
    background-color: white;
    border: 2px solid red;
    color: red;
    align-content: center;
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.large-txt {
    font-weight: bold;
}

.red-hollow-btn:active {
    opacity: 0.75;
}

.lightgrey-btn {
    display: inline-block;
    background-color: lightgrey;
    padding: 5px;
    border: 2px solid darkgrey;
    cursor: pointer;
}

.lightgrey-btn:active {
    opacity: 0.8;
}